'scopeName': 'GrokMeUp'
'fileTypes': [
  'grok'
]
'name': 'GrokHighlighter'
'patterns': [
  {
    captures:
      "0":
        name: "variable.text"
      "1":
        name: "entity.name.function"
      "2":
        name: "constant.numeric"
      "3":
        name: "string.text"

    comment: "Named Grok"
    match: "%{([A-Z0-9_]*)(:)([A-Za-z0-9_;:\/\\\-]*)}"
  }
  {
    captures:
      "0":
        name: "variable.text"
      "1":
        name: "entity.name.function"

    comment: "Unnamed Grok"
    match: "%{([A-Z0-9_]+)}"
  }
  {
    captures:
      "1":
        name: "comment.text"
    comment: "Grok Comment"
    match: "(\#.*)"
  }
  {
    captures:
      "0":
        name: "keyword.control"
    comment: "Grok Pattern Name"
    match: "^[A-Z0-9_]+"
  }
  {
    captures:
      "0":
        name: "support.type.pthread"
    match: "\\[([^%]+)\\]|\\[|\\]"
  }
  {
    captures:
      "0":
        name: "constant.numeric"
    comment: "Parens and ors and what not"
    match: "\\?:|\\(|\\)|\\|"
  }
  {
    captures:
      "0":
        name: "constant.numeric"
    comment: "Parens and ors and what not"
    match: "\\{([A-Za-z0-9_\\-,]*)\\}"
  }
]
