'scopeName': 'GrokMeUp'
'fileTypes': [
  'grok'
]
'name': 'GrokHighlighter'
'patterns': [
  {
    captures:
      "1":
        name: "variable.text"
      "2":
        name: "entity.name.function"
      "3":
        name: "constant.numeric"
      "4":
        name: "string.text"
      "5":
        name: "variable.text"
    comment: "Named Grok"
    match: "(%{)([A-Z0-9_]*)(:)([A-Za-z0-9_;:\/\\\-]*)(})"
  }
  {
    captures:
      "1":
        name: "variable.text"
      "2":
        name: "entity.name.function"
      "3":
        name: "variable.text"
    comment: "Unnamed Grok"
    match: "(%{)([A-Z0-9_]+)(})"
  }
  {
    captures:
      "1":
        name: "comment.text"
    comment: "Grok Comment"
    match: "(\#.*)"
  }
  {
    captures:
      "1":
        name: "keyword.control"
    comment: "Grok Pattern Name"
    match: "(^[A-Z0-9_]+)"
  }
  {
    begin: '\\[[^\]]+'
    beginCaptures:
      "0":
        name: 'support.type.pthread'
    end:'\][\*\+\?]?'
    endCaptures:
      "0":
        name: 'support.type.pthread'
  }
  {
    captures:
      "0":
        name: "constant.numeric"
    comment: "Grok Comment"
    match: "[\?:]|\\(|[\|]|\\)"
  }
]
